## Exploratory data analysis (EDA)

The process of exploring the dataset and garnering an appreciation of the variables, the observations, and the interaction of these variables and observations with each other and amongst themselves through visualizations, investigation, and summary statistics.

### Import libraries and set parameters

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
import glob

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = 5_000
sns.set(style="darkgrid")
%matplotlib inline

### Define functions to be used in this notebook

#### Function [prepare_data]: Rename and rearrange columns of bike dataset and convert columns to datetime format

In [2]:
# Function [prepare_data]: Rename and rearrange columns of bike dataset and convert columns to datetime format
#  df: dataframe object
def prepare_data(df):
    # Convert column names to lowercase with spaces replaced by underscores
    df.columns = df.columns.str.lower().str.replace(' ', '_').tolist() 
    # Convert start_time and end_time columns to datetime datatype
    df[['start_date', 'end_date']] = df[['start_date', 'end_date']].apply(pd.to_datetime) 
    # Rename some columns to more representative names
    df = df.rename(columns={'start_date': 'start_time', 'end_date': 'end_time', 'duration': 'duration_seconds'}) 
    # Rearrange columns
    df = df[['bike_number', 'member_type', 'start_station_number', 'start_station', 'end_station_number', 'end_station', 'start_time', 'end_time', 'duration_seconds']]
    return df

### Dataset description

#### Dataset
Dataset from Capital Bikeshare, a bikesharing platform in Washington DC.  
Source: https://www.capitalbikeshare.com/system-data   
Format: Comma delimited files (csv) by month for 12 months in 2018

#### Data table
- Bike number: Identification number unique to a bike  
- Member type: Member Type â€“ Indicates whether user was a "registered" member (Annual Member, 30-Day Member or Day Key Member) or a "casual" rider (Single Trip, 24-Hour Pass, 3-Day Pass or 5-Day Pass)  
- Start station number: Start station number  
- Start station: Starting station name  
- End station number: End station number  
- End station: End station name  
- Start time: Start time includes start date in datetime format  
- End time: End time includes start date in datetime format  
- Duration time: Duration of trip in datetime format  
- Duration seconds: Duration of trip in seconds

### Gather and mung data

In [3]:
# Dataset from all months in 2018

# files = glob.glob(r'./data/capital_bikeshare/*-capitalbikeshare-tripdata.csv')
# file_list = []
# for file in files:
#     df = pd.read_csv(file, index_col=None, header=0)
#     file_list.append(df)
# df = pd.concat(file_list, axis=0, ignore_index=True)

In [4]:
# Dataset from one month in 2018

df = pd.read_csv('../data/capital_bikeshare/201812-capitalbikeshare-tripdata.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158853 entries, 0 to 158852
Data columns (total 9 columns):
Duration                158853 non-null int64
Start date              158853 non-null object
End date                158853 non-null object
Start station number    158853 non-null int64
Start station           158853 non-null object
End station number      158853 non-null int64
End station             158853 non-null object
Bike number             158853 non-null object
Member type             158853 non-null object
dtypes: int64(3), object(6)
memory usage: 10.9+ MB

### Exploratory data analysis (EDA)

In [6]:
# Rename and rearrange columns.
df = prepare_data(df)

In [7]:
# Display basic information about df including dimensions, data types, and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158853 entries, 0 to 158852
Data columns (total 9 columns):
bike_number             158853 non-null object
member_type             158853 non-null object
start_station_number    158853 non-null int64
start_station           158853 non-null object
end_station_number      158853 non-null int64
end_station             158853 non-null object
start_time              158853 non-null datetime64[ns]
end_time                158853 non-null datetime64[ns]
duration_seconds        158853 non-null int64
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 10.9+ MB

In [8]:
# Display first five rows of df
df.head()

,bike_number,member_type,start_station_number,start_station,end_station_number,end_station,start_time,end_time,duration_seconds
0,W21477,Member,31203,14th & Rhode Island Ave NW,31116,California St & Florida Ave NW,2018-12-01 00:00:44,2018-12-01 00:13:54,790
1,W22810,Member,31203,14th & Rhode Island Ave NW,31116,California St & Florida Ave NW,2018-12-01 00:00:55,2018-12-01 00:13:46,771
2,W21144,Member,31203,14th & Rhode Island Ave NW,31116,California St & Florida Ave NW,2018-12-01 00:00:55,2018-12-01 00:13:51,775
3,W23321,Member,31203,14th & Rhode Island Ave NW,31116,California St & Florida Ave NW,2018-12-01 00:01:08,2018-12-01 00:13:39,750
4,W22304,Member,31124,14th & Irving St NW,31102,11th & Kenyon St NW,2018-12-01 00:02:45,2018-12-01 00:05:11,146

In [9]:
# Display counts of each member
df['member_type'].value_counts()

Member    143334
Casual     15519
Name: member_type, dtype: int64

In [10]:
# Display count of unique bikes
df['bike_number'].nunique()

3982

In [11]:
# Display count of unique start stations numbers
df['start_station_number'].nunique()

522

In [12]:
# Display count of unique start stations
df['start_station'].nunique()

522

In [13]:
# Display count of unique end stations numbers
df['end_station_number'].nunique()

520

In [14]:
# Display count of unique end stations numbers
df['end_station'].nunique()

520

In [15]:
# Check for null values
df.isnull().sum()

bike_number             0
member_type             0
start_station_number    0
start_station           0
end_station_number      0
end_station             0
start_time              0
end_time                0
duration_seconds        0
dtype: int64